.modal-body {
  background-color: #f2f2f2;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
}

.modal {
  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px 0;
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;

    span {
      color: #b4b2b2;
    }
  }

  &__close {
    cursor: pointer;
  }
}
